* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(0deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
  color: white;
  padding: 0 2rem;
}

.header--branding {
  display: flex;
}

.header--branding-logo {
  width: 2rem;
  margin-right: .5rem;
}

/* CONTENT */

.ContentGenerator {
  position: relative;
  top: 65px;
  margin: 2rem;
}

.input-top {grid-area: item1;}
.input-bottom {grid-area: item2;}
.generator--button {grid-area: item3;}

.generator {
  display: grid;
  grid-template-areas: 
  'item1 item2'
  'item3 item3';
  gap: 1rem 2rem;
}
.generator--input {
  height: 2.1875rem;
  border-radius: 0.3125rem;
  border: 1px solid #D5D4D8;
}

.generator--button {
  background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);

  border-radius: 0.3125rem;
  border-style: none;
  padding: 1em;
  box-shadow: 0 2px #999;

  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  cursor: pointer;
}

.generator--button:hover {
  background: linear-gradient(135deg, #4a0b5f 0%, #7d12a0 100%);
}
.generator--button:active {
  box-shadow: 0 .5px #666;
  transform: translateY(4px);
}

/* MEME IMAGE */

.meme-container {
display: flex;
justify-content: center;
margin: 2rem 0;
}

.meme-container-image {
  margin: auto;
  max-width: 70%;
  max-height: 60vh;
}